<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base.html :: xheader}" xmlns:th="http://www.w3.org/1999/xhtml"></head>
<body>
<div th:replace="~{base.html :: header}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<main>
    <div class="container">
        <h1 class="display-4 fst-italic episode-mb-bottom episode-mt-top">Как с нами связаться</h1>
        <div class="row">
            <div class="col-10">
                <p class="lead my-3">Мы очень хотим сделать наш подкаст еще лучше, поэтому будет круто, если вы дадите обратную связь.
                    Это можно сделать в
                    <a href="https://forms.gle/1a7tEn5aCFPk5R7eA" class="a-link">Google Form</a>
                    и в
                    <a href="https://podcasts.apple.com/gb/podcast/%D0%BD%D1%83
                        -%D0%B4%D0%B0%D0%B2%D0%B0%D0%B9-%D1%80%D0%B0%D0%B7%D0%B1
                        %D0%B8%D1%80%D0%B0%D1%82%D1%8C%D1%81%D1%8F/id1579561576" class="a-link">iTunes</a>
                    : поставить звездочки и оставить комментарий.<br></p>


                <p class="lead my-3">Для того, чтобы оставить отзыв в iTunes:<br>
                    пройдите по
                    <a href="https://podcasts.apple.com/gb/podcast/%D0%BD%D1%83
                        -%D0%B4%D0%B0%D0%B2%D0%B0%D0%B9-%D1%80%D0%B0%D0%B7%D0%B1
                        %D0%B8%D1%80%D0%B0%D1%82%D1%8C%D1%81%D1%8F/id1579561576" class="a-link">ссылке</a>;<br>
                    в описании подкаста найдите вкладку «Оценки и отзывы» (Ratings and reviews);<br>
                    на нужной вкладке будет кнопка «оставить отзыв» (write a review).<br></p>

                <p class="lead my-3">Расскажите о подкасте друзьям в Инстаграме и отмечайте нас:<br></p>
                <p class="lead my-3">Маша:
                    <a href="https://www.instagram.com/mashabliznina/" class="a-link" >@mashabliznina</a><br></p>
                <p class="lead my-3">Саша:
                    <a href="https://www.instagram.com/sashabliznina/" class="a-link" >@sashabliznina</a><br>
                </p>


                <p class="lead my-3">Возможно у вас есть идеи, которые помогут улучшить наш подкаст и сделать его более качественным?
                </p>


                <p class="lead my-3">Или вам нравится заниматься продвижением подкастов и хочется нам помочь сделать проект
                    более узнаваемым?<br>
                </p>

                <p class="lead my-3">Может быть вы дизанер и у вас есть идеи, как улучшить дизайн обложки подкаста?<br>
                </p>

                <p class="lead my-3">Напишите нам на почту <a href=mailto:nudavayrazbiratsya@gmail.com HTML link class="a-link">nudavayrazbiratsya@gmail.com</a>,
                    мы будем рады услышать ваши идеи!
                </p>

            </div>
        </div>
    </div>
</main>
<div th:replace="~{base.html :: footer}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
</body>
</html>