<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base.html :: xheader}" xmlns:th="http://www.w3.org/1999/xhtml"></head>
<body>
<div th:replace="~{base.html :: header}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<main class="container">
    <div class="row">
        <div class="col-md-6 episode-mt-top" th:each="episode : ${episodes}">
            <div class="card shadow-sm position-relative card-height">
                <div class="card-body">
                        <strong class="d-inline-block mb-2 my-text-primary">
                            <span th:text="${episode.theme}">Theme</span>
                        </strong>
                    <h4 class="mb-0">
                        <span th:text="${episode.title}">Title</span>
                    </h4>
                    <div class="mb-1 text-muted">
                        <span th:text="${episode.date}">Date</span>
                    </div>
                    <p class="lead">{{episode.preview}}.
                        <a href="/episodes/{{episode.pk}}" class="a-link">подробнее</a>
                    </p>
                    <audio controls>
                        <source src="https://www.buzzsprout.com/1823938/{{episode.buzz_id}}.mp3?download=true" type="audio/mpeg">
                    </audio>
                    <!-- ad :: after -> next post -->
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{base.html :: footer}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
</body>
</html>