<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base.html :: xheader}" xmlns:th="http://www.w3.org/1999/xhtml"></head>
<body>
<div th:replace="~{base.html :: header}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<main>
    <div class="container">
        <p class="lead my-3 episode-mb-bottom episode-mt-top">{{object.theme}}<br>{{object.date}}</p>
        <h1 class="display-4 fst-italic episode-mb-bottom episode-mt-top">{{object.title}}</h1>
        <div class="row">
            <div class="col-10">
                <div class="lead my-3" th:each="episode : ${episodes}">
                    {{object.body | safe}}
                </div>
                <div id="buzzsprout-player-{{object.buzz_id}}"></div>
                <script src="https://www.buzzsprout.com/1823938/{{object.buzz_id}}.js?container_id=buzzsprout-player-{{object.buzz_id}}&player=small" type="text/javascript" charset="utf-8"></script>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{base.html :: footer}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
</body>
</html>