<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base.html :: xheader}" xmlns:th="http://www.w3.org/1999/xhtml"></head>
<body>
<div th:replace="~{base.html :: header}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<main>
    <div class="container">
        <h1 class="display-4 fst-italic episode-mb-bottom episode-mt-top">Расскажите, что думаете о подкасте</h1>
        <div class="row">
            <div class="col-12">
                <p class="lead my-3">Мы создали эту форму, чтобы лучше узнать вас, наши слушатели.
                    Именно благодаря вам этот этот подкаст живет и развивается.<br></p>
                <p class="lead my-3">В форме вы можете:<br>
                    рассказать нам немного о себе. Нам очень интересно and we are excited!<br>
                    поделиться своими мыслями и идеями о подкасте;<br>
                    рассказать, какой ваш самый любимый выпуск, и что думаете об уже вышедших;<br>
                    поделиться, на какую тему вам бы еще хотелось послушать выпуск в первом сезоне;<br>
                    дать обратную связь о длительности эпизодов и качестве звука.<br></p>
                <p class="lead my-3">Мы читаем все ваши отзывы, и нам безумно приятно, что у нас складывается такая замечательная и заболивая аудитория &#128156;<br></p>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd6oeAYr5KUzxnRUyuUs4BRnOxkbOq8v3P06dsHWpiwvZ74QQ/viewform?embedded=true"
                        width="900" height="900"
                        frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{base.html :: footer}" xmlns:th="http://www.w3.org/1999/xhtml"></div>
</body>
</html>